---
import PokemonCard from "@components/Pokemon/PokemonCard.astro";
import Layout from "@layouts/Layout.astro";
import { fetchPokemonList } from "@utils/pokemon";

export const getStaticPaths = (async () => {
    const { results } = await fetchPokemonList(151);
    return results.map(pokemon => {
        return {
            params: { id: pokemon.data.id },
            props: { pokemon: pokemon.data }
        }
    })
});

const { pokemon } = Astro.props;
---

<Layout title={`#${pokemon.id} ${pokemon.name} | Pokémon Static`} description={`Detalles del Pokémon ${pokemon.name}`} image={pokemon.cries.latest} favicon={pokemon.sprites.other?.['official-artwork'].front_default}>
    <a href="/" class="hover:underline text-blue-500">Regresar</a>
    <h1 class="text-5xl">&#35;{pokemon.id} {pokemon.name}</h1>
    <hr><br>

    <PokemonCard data={pokemon} class="[&>img]:size-72 [&>span]:text-3xl"/>

    <br>
    <audio src={pokemon.cries.latest} controls class="mx-auto"></audio>
</Layout>