---
import PokemonCard from "@components/pokemon/PokemonCard.astro";
import Title from "@components/shared/Title.astro";
import Layout from "@layouts/Layout.astro";
import { fetchPokemonList } from "@utils/pokemon";
import { Icon } from 'astro-icon/components'

export const getStaticPaths = (async () => {
    const { results } = await fetchPokemonList(151);
    return results.map(pokemon => {
        return {
            params: { id: pokemon.data.id },
            props: { pokemon: pokemon.data }
        }
    })
});

const { pokemon } = Astro.props;
---

<Layout
    title={`#${pokemon.id} ${pokemon.name} | Pokémon Static`}
    description={`Detalles del Pokémon ${pokemon.name}`}
    image={pokemon.cries.latest}
    favicon={pokemon.sprites.other?.['official-artwork'].front_default}
>
    <section class="flex flex-col px-4 pb-4 gap-2 items-center justify-between">
        <Title>
            {pokemon.name}
            <button id="btn-favorite" class="ml-2 cursor-pointer" data-name={pokemon.name} data-id={pokemon.id}>
                <!-- <Icon name="ph:heart-fill" size="2.5rem" class="text-red-500"/> -->
                <Icon name="ph:heart-duotone" size="2.5rem" class="text-red-500 [&_path:first-child]:opacity-0 hover:[&_path:first-child]:opacity-20"/>
            </button>
        </Title>

        <PokemonCard data={pokemon} class="[&>img]:size-72 [&>span]:text-3xl"/>

        <br>
        <audio src={pokemon.cries.latest} controls class="mx-auto"></audio>
    </section>

</Layout>

<script>
    // document.addEventListener('astro:after-preparation', () => console.log('After preparation'));
    // document.addEventListener('astro:after-swap', () => console.log('After swap'));
    // document.addEventListener('astro:before-preparation', () => console.log('Before preparation'));
    // document.addEventListener('astro:before-swap', () => console.log('Before swap'));
    // document.addEventListener('astro:page-load', () => console.log('Page loaded'));

    document.addEventListener('astro:page-load', () => {
        const btn: HTMLButtonElement | null = document.querySelector('button#btn-favorite');

        btn?.addEventListener('click', () => {
            const { name, id } = btn.dataset;
            console.log({ name, id});
        });
    });
</script>