---
import type { CollectionEntry } from "astro:content";
import { Formatter } from "../utils";
import { Image } from "astro:assets";

interface Props {
    post: CollectionEntry<'blog'>;
}
const { data, slug } = Astro.props.post;
const { image, title, description, date } = data;
console.log(image);
---
<div class="lg:flex">
    <Image
        class="object-cover w-full h-56 rounded-lg lg:w-64"
        src={image}
        alt={title}
        width={500}
        height={500}
        quality="low"
        loading="lazy"
        transition:name={`${slug}-image`}
    />

    <div class="flex flex-col justify-between py-6 lg:mx-6">
        <a
            href={`/posts/${Astro.props.post.slug}`}
            class="text-xl font-semibold hover:underline text-white"
        >
            {description}
        </a>

        <span class="text-sm text-gray-300">
            {Formatter.formatDate(date)}
        </span>
    </div>
</div>