---
import type { HTMLAttributes } from 'astro/types';
import type { Pokemon } from '@interfaces';

interface Props extends HTMLAttributes<'a'>{ data: Pokemon; };
const { data:pokemon, class: extraClasses } = Astro.props;
---

<a
    href={`/pokemon/${pokemon.name}`}
    class:list={[
        "rounded flex flex-col justify-center items-center",
        extraClasses
    ]}
>
    <img
        transition:name={`pokemon-${pokemon.id}`}
        src={pokemon.sprites.other?.['official-artwork'].front_default}
        alt={pokemon.name}
    />
    <span class="capitalize">#{pokemon.id} {pokemon.name}</span>
</a>